@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/* clear margin*/
* {
    margin: 0;
    padding: 0;
}

/* implement font */
body {
    font-family: lato, sans-serif;
    font-weight: 300;
}

/* style logo and menu*/
header {
    background-color: darkblue;
    padding: 10px;
    height: 80px;
}

header a {
    color: white;
    text-transform: uppercase;
}

a:hover {
    text-decoration-line: underline;
    font-size: 120%;
    text-decoration-style: double;
}

header h1 {
    width: 49%;
    line-height: 80px;
    float: left;
    font-size: 300%;
}

header nav {
    font-family: lato, sans-serif;
    line-height: 80px;
    float: right;
    width: 49%;
    text-align: right;
}

header li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    font-size: 110%;
    margin-right: 20px;
    font-weight: 900;
}

/* tennisimage home page*/
#tennisimage {
    /* width: 100%; */
    /* padding-top: 148,148%; */
    
    /* aspect-ratio:13/20; */
    
    /* margin: 0 auto;
    background: url(../images/tennisball_home.jpg)no-repeat center center; */
    /* background-size: cover; */
    /* background-color: white  */
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
    /* background-size: 100%; */
    object-fit: cover;
    width: 100%;
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    height: 600px;
}

/* why play tennis with us home page*/
#covertextplay {
    background-color: lightblue;
    width: 600px;
    height: 280px;
    position: relative;
    left: 50px;
    top: -500px;
    margin-bottom: -285px;
}

#playheading {
    margin-left: 2px;
    padding: 2px;
}

.heading {
    margin: 2px;
    padding: 2px;
    text-decoration: underline;
}

.paragraf {
    padding: 1px;
    margin-left: 25px;
    font-weight: bold;
}

/* weekly scheduele home page*/

#scheduleheading {
    background-color: lightblue;
    padding: 10px;
    padding-left: 50px;
    text-decoration: underline;
    height: 30px;
}

#schedule {
    background-color: lightblue;
    height: 200px;
    padding: 1px;
    font-weight: bold;
}

#table{
    width: 40%;
}

/* .timeheading{
    font-weight: bold;
} */

th {
    letter-spacing: 2px;
    font-size: 120%;
    text-decoration: underline;
    padding: 3px;
}

tr {
    text-align: right;
}

td {
    margin: 2px;
    padding: 2px;
    font-weight: bold;
    /* font-size: 110%; */
    /* font-family: lato, sans-serif; */
}

#textcover {
    background-color: darkblue;
    opacity: 0.9;
    font-size: 150%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    width: 400px;
    height: 50px;
    padding: 20px;
    margin: 20px;
    color: white;
    float: right;
    text-align: center;
}

#here {
    color: white;
}

/* style footer*/

footer {
    background-color: darkblue;
    height: 80px;
    padding: 10px;
}

footer>div {
    color: white;
    float: left;
    padding: 10px;
    text-transform: uppercase;
}

footer ul {
    line-height: 80px;
    float: right;
    width: 49%;
    text-align: right;
}

footer li {
    list-style-type: none;
    text-align: center;
    display: inline-block;
    font-size: 150%;
    margin-right: 20px;
}

footer a {
    color: white;
}

footer>ul a:hover {
    font-size: 200%;
}

/* easy tennis program*/
/* tennis image with text over image */
#tennisball {
    height: 600px;
    margin: 0 auto;
    background: url(../images/tennis_playpage.jpg)no-repeat center center;
    background-size: cover;
}

#covertextball {
    background-color: lightblue;
    width: 600px;
    height: 280px;
    position: relative;
    left: 50px;
    top: -500px;
    margin-bottom: -300px;
}

#joinheading {
    margin-left: 2px;
    padding: 2px;
}

.fontheading {
    margin: 2px;
    padding: 2px;
    text-decoration: underline;
}

.joinparagraf {
    padding: 1px;
    margin-left: 25px;
    font-weight: bold;
}

/* .convertext{
    margin: 15px;
  } */

/*  Easy tennis program with heading*/
#programheading {
    background-color: lightblue;
    padding: 10px;
    text-decoration: underline;
    height: 30px;
}

#flexcontainerfirst {
    display: flex;
    background-color: lightblue;
    padding: 10px;
    font-weight: bold;
    /* font-size: 120%; */
    height: 200px;
}

.underline {
    text-decoration: underline;
}

.insideflex {
    width: 16%;
    padding: 10px;
}

/* Sign up page */
#main {
    background-color: lightblue;
}

#mainheading {
    padding: 10px;
    background-color: lightblue;
    text-decoration: underline;
    text-align: center;
}

.fieldset {
    width: 90%;
    font-weight: bold;
    padding: 10px;
    margin: 0 auto;
}

.fieldsetheading {
    text-decoration: underline;
}

#lastsignup{
    display: inline-block;
    /* width: 10%; */
    /* text-align: center; */
    /* list-style-type: none; */
    /* margin: 0 auto;
    text-align: center; */
    position: relative;
    left: 50%;
    /* height: 50px; */
    padding-top: 10px;
    padding-bottom: 10px;
}
    

/*media queries*/
@media screen and (max-width: 1300px) {

    #table {
        width: 50%;
    }

    #programheading {
        height: auto;
    }

    #flexcontainerfirst {
        flex-wrap: wrap;
        height: auto;
    }

    .insideflex {
        width: auto;
    }
}

@media screen and (max-width: 1200px) {
    #covertextplay {
        width: 400px;
        height: auto;
        margin-bottom: -360px;
    }

    #covertextball {
        width: 400px;
        height: auto;
        margin-bottom: -360px;
    }
}

@media screen and (max-width: 1000px){

    /* #scheduleheading {
        height: auto;
    } */
    #schedule{
        height: auto; 
    }

        #textcover {
        width: 70%;
        /* height: auto;
        padding: 0;
        margin: 0; */
        float: left;
    }

    #table{
        width: 70%;
    }
}

@media screen and (max-width: 840px) {

    #question {
        width: 97%;
    }
}

@media screen and (max-width: 780px) {
    #covertextplay {
        width: 250px;
        height: auto;
        margin-bottom: -437px;
    }

    #covertextball {
        width: 250px;
        height: auto;
        margin-bottom: -435px;
    }
}

@media screen and (max-width: 680px) {

    header h1 {
        width: 97%;
        line-height: 20px;
    }

    header nav {
        float: left;
        width: 97%;
        text-align: left;
        padding: 0px;
        line-height: 60px;
    }

    footer {
        height: 100px;
    }

    footer ul {
        float: left;
        width: 97%;
        text-align: left;
        line-height: 20px;
    }

    footer>ul a:hover {
        font-size: 100%;
    }

    footer>div {
        font-size: 80%;
    }
}

@media screen and (max-width: 630px){

    #textcover {
        width: 90%;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        height: auto;
}

   #table{
    width: 90%;
   }
}
@media screen and (max-width: 500px) {

    #covertextplay {
        width: 250px;
        height: auto;
        left: 10px;
        background-color: transparent;
        color: white;
        top: -600px;
        margin-bottom: -450px;
    }

    /* #textcover {
        width: 97%;
        height: auto;
        padding: 0;
        margin: 0;
        float: left;
    } */

    #covertextball {
        width: 250px;
        height: auto;
        left: 10px;
        background-color: transparent;
        color: white;
        top: -600px;
        margin-bottom: -540px;
    }

    #joinheading{
        width: 140%;
    }

        table {
        font-size: 70%;
        width: 95%;
        margin: 0;
    }

    #scheduleheading {
        height: auto;
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (max-width: 370px) {

    table {
        font-size: 60%;
    }

    header h1 {
        font-size: 200%;
    }

    header nav {
        font-size: 80%;
    }

    #joinheading{
        width: 100%;
    }

}