@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');


*{
    margin: 0;
}

body{
    font-family:lato,sans-serif;
    font-weight: 300;
}

/* style logo and menu*/

header{
    background-color: darkblue;
    margin: 5px;
    padding: 10px;
    font-family: lato, sans-serif;
    width: 97%;
    height: 50px;
}

header a{
    color: white; 
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    }

a:hover {
    text-decoration-line: underline;
    font-size: 120%;
    text-decoration-style: double;
  }

header h1{
    font-family: lato, sans-serif;
    width: 49%;
    line-height: 50px;
    float: left;
    text-align: left;
    margin: auto;
    font-size: 300%;
    margin-left: 20px;
}

header nav{
    font-family: lato, sans-serif;
    line-height: 50px;
    float: right;
    width: 49%;
    text-align: right;
}

header li{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    width: auto;
    margin: auto;
    font-size: 110%;
    margin-right: 20px;
}


/* main*/
#font{
    font-family:lato,sans-serif;
    font-weight: 300;  
}

/* tennisimage*/
#tennisimage{
    height: 600px;
    width: 97%;
    background: url(../images/pexels-todd-trapani-2339377\ \(1\).jpg)no-repeat center center;
    background-size: cover;
    position: relative; 
    margin: 5px;
    padding: 10px;
}



#covertext{
    background-color: lightblue;
    font-size: 150%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    width: 400px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    bottom: 340px;
    left: 150px;
    position: absolute;
}


#slogan{
    font-family:oswald,sans-serif;
    font-weight: 300;
}

/* why play tennis with us*/

#relative{
    position: relative;
}

#headabsolute{
    position: absolute;
    width: 97%;
    height: 200px;
    left: 70px;
    bottom: 90px;  
}

#firstabsolut{
    position: absolute;
    width: 97%;
    height: 200px;
    left: 70px;
    bottom: 40px;
}

#secondabsolut{
    position: absolute;
    width: 97%;
    height: 200px;
    left: 70px;
    bottom: -10px;
}

#thirdabsolut{
    position: absolute;
    width: 97%;
    height: 200px;
    left: 70px;
    bottom: -60px;
}

#fourthabsolut{
    position: absolute;
    width: 97%;
    height: 200px;
    left: 70px;
    bottom: -110px;
}


/* weekly scheduele*/
#schedule{
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    font-family: lato, sans-serif;
    width: 97%;
}

#scheduleheading{
    margin: 10px;
}

#textcover{
    background-color: darkblue;
    opacity: 0.8;
    font-size: 150%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    width: 400px;
    height: 50px;
    padding: 20px;
    margin: 20px;
    color: white;
    float: right;
    text-align: center;
}

.timeheading{
    font-weight: bold;
}

th{
    letter-spacing: 2px;
    font-size: 120%;
    text-decoration: underline;
    padding: 3px;
}

tr{
   text-align: right;
}

table{
    margin: 10px;
}

td{
    margin: 2px;
    padding: 2px;
    font-weight: bold;
}

/* style footer*/

footer{
    background-color: darkblue;
    margin: 5px;
    padding: 10px;
    font-family: lato, sans-serif;
    width: 97%;
    height: 50px;
}

footer > div {
    color: white;
    float: left;
    font-family: lato, sans-serif;
    margin-left: 20px;
}

footer  ul{
    font-family: lato, sans-serif;
    line-height: 50px;
    float: right;
    width: 49%;
    text-align: right;
}

footer li{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    width: auto;
    margin: auto;
    font-size: 110%;
    margin-right: 20px;
}

footer a{
    color: white; 
    text-align: right;
    text-transform: uppercase;
    text-decoration: none;
    list-style-type: none;
    }

footer > ul a:hover {
    font-size: 150%;
  }

  /* easy tennis program*/

#programheading{
    margin: 10px;
}

.programleft{
    float: left;
    width: 30%;
    height: 200px;
}

.programcenter{
    margin: auto;
    width: 30%;
    height: 200px;
}

.programright{
    float: right;
    width: 30%;
    height: 200px;

}

